body {}

.blogBox {
  border: 5px solid black;
  margin: 10px;
}

#content {
  margin: auto;
  width: 55%;
  border: 5px solid black;
}

#headerBox {
  border: 5px solid black;
  margin: 10px;
}

#menuBox {
  border: 5px solid black;
  margin: 10px;
}

.linkBox {
  border: 5px solid black;
  Margin: 10px;
}
